*.log
wp-admin/
wp-includes/
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-content/languages/
wp-content/ewww/
wp-content/backups-dup-lite

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

